.content
  .page-header
    %h1
      Morphisms
      %small category theory validation tool
  .row
    .span5#left
      - image_size = "280"
      - if @error
        .alert-message.error
          %p= @error
        %img{:src => "images/catlint.jpg", :height => image_size, :width => image_size}
      - else
        .alert-message.success
          %p Your category is valid!
        %h3.nav.btn.large.span4 Objects: #{@category.objects.size}
        %h3.nav.btn.large.span4 Morphisms: #{@category.arrows.size}
        %img{:src => @category.to_gchart_url, :height => image_size, :width => image_size}

    .span10#right
      - form_tag url(:validator), :method => :post do
        - field_class = "span3"
        .equation.input
          = text_field_tag "hom_f", :placeholder => "morphism", :value => "", :class => field_class, :id => "hom_f"
          %span.equation-text :
          = text_field_tag "hom_src", :placeholder => "source", :value => "", :class => field_class, :id => "hom_src"
          %span.equation-text &rarr;
          = text_field_tag "hom_trg", :placeholder => "target", :value => "", :class => field_class, :id => "hom_trg"
          %a#add-morphism.btn(href="#_") +

        %ul#morphisms

