.content
  .page-header
    %h1
      Category Validator
      %small category theory validation tool
  .row
    .span16#right
      - if @error
        .alert-message.error
          %p= @error
      - else
        .alert-message.success
          %p Your category is valid!

      - form_tag url(:validator), :method => :post do
        %h3 Morphism Types #{link_to "+", "#", :class => "add-morphism"}
        #morphisms
          - @hom.each do |(src, trg), fs|
            - fs.each do |f|
              .equation
                .input
                  = text_field_tag "hom_f[]", :value => f
                  %span.equation-text :
                  = text_field_tag "hom_src[]", :value => src
                  %span.equation-text &rarr;
                  = text_field_tag "hom_trg[]", :value => trg
                  %a.remove-equation(href="#") x

        %h3 Composition Function #{link_to "+", "#", :class => "add-comp"}
        #comp
          - @comp.each do |(g, f), gof|
            .equation
              .input
                = text_field_tag "comp_g[]", :value => g
                %span.equation-text &#8728;
                = text_field_tag "comp_f[]", :value => f
                %span.equation-text =
                = text_field_tag "comp_gof[]", :value => gof
                %a.remove-equation(href="#") x
        .actions
          %input.btn.large.primary(type="submit" value="Validate")
