.content
  .page-header
    %h1
      Category Validator
      %small category theory validation tool
  .row
    .span5#left
      - image_size = "280"
      - if @error
        .alert-message.error
          %p= @error
        %img{:src => "images/catlint.jpg", :height => image_size, :width => image_size}
      - else
        .alert-message.success
          %p Your category is valid!
        %img{:src => @category.to_gchart_url, :height => image_size, :width => image_size}

    .span10#right
      - form_tag url(:validator), :method => :post do
        - field_class = "span3"
        %h3 Morphism Types #{link_to "+", "#_", :class => "add-morphism btn"}
        %ul#morphisms
          - @hom.each do |(src, trg), fs|
            - fs.each do |f|
              %li.equation.input
                = text_field_tag "hom_f[]", :value => f, :class => field_class
                %span.equation-text :
                = text_field_tag "hom_src[]", :value => src, :class => field_class
                %span.equation-text &rarr;
                = text_field_tag "hom_trg[]", :value => trg, :class => field_class
                %a.remove-equation.btn(href="#_") x

        %h3 Composition Function #{link_to "+", "#_", :class => "add-comp btn"}
        %ul#comp
          - @comp.each do |(g, f), gof|
            %li.equation.input
              = text_field_tag "comp_g[]", :value => g, :class => field_class
              %span.equation-text &#8728;
              = text_field_tag "comp_f[]", :value => f, :class => field_class
              %span.equation-text =
              = text_field_tag "comp_gof[]", :value => gof, :class => field_class
              %a.remove-equation.btn(href="#_") x
        .actions
          %input.btn.large.primary(type="submit" value="Validate")
