.content
  .page-header
    %h1
      Category Validator
      %small category theory validation tool
  .row
    .span16#right
      - form_tag url(:validator), :method => :post do
        -# %h3 Idendity Function
        -# - Category.example_id.each do |x, f|
        -#   .equation
        -#     .input
        -#       = input_tag :id, :value => x
        -#       %span.equation-text =
        -#       = input_tag :id, :value => f

        %h3 Morphism Types
        - Category.example_hom.each do |(src, trg), fs|
          - fs.each do |f|
            - next if f.to_s.include?('_ident')
            .equation
              .input
                = input_tag :id, :value => f
                %span.equation-text :
                = input_tag :id, :value => src
                %span.equation-text &rarr;
                = input_tag :id, :value => trg

        %h3 Composition Function
        - Category.example_comp.each do |(g, f), gof|
          - next if g.to_s.include?('_ident')
          - next if f.to_s.include?('_ident')
          .equation
            .input
              = input_tag :id, :value => g
              %span.equation-text &#8728;
              = input_tag :id, :value => f
              %span.equation-text =
              = input_tag :id, :value => gof
      .actions
        %input.btn.large.primary(type="submit" value="Validate")
