.content
  .page-header
    %h1
      Category Validator
      %small category theory validation tool
  .row
    .span6#left
      - image_size = "340"
      - if @error
        .alert-message.error
          %p= @error
        %img{:src => "images/catlint.jpg", :height => image_size, :width => image_size}
      - else
        .alert-message.success
          %p Your category is valid!
        %img{:src => @category.to_gchart_url, :height => image_size, :width => image_size}

    .span9#right
      - form_tag url(:validator), :method => :post do
        - text_class = "span9"
        - label_class = "label"
        .clearfix
          = label_tag :id, :caption => "identity function", :class => label_class
          .input
            = text_area_tag :id, :value => @id, :class => text_class, :rows => "3"
        .clearfix
          = label_tag :hom, :caption => "hom set relation", :class => label_class
          .input
            = text_area_tag :hom, :value => @hom, :class => text_class, :rows => "7"
        .clearfix
          = label_tag :comp, :caption => "composition function", :class => label_class
          .input
            = text_area_tag :comp, :value => @comp, :class => text_class, :rows => "8"
        .actions
          %input.btn.large.primary(type="submit" value="Validate")
